
@using Messentra.Features.Layout.Components
@inherits LayoutComponentBase

<Fluxor.Blazor.Web.StoreInitializer/>
<MudThemeProvider Theme="@_theme" IsDarkMode="_isDarkMode" />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<div class="main-layout">
    <MudLayout>
        <SideBar/>
        <MudMainContent Class="@MainContentClass">
            <MudContainer MaxWidth="MaxWidth.ExtraLarge" Class="mud-height-full pa-0">
                @Body
            </MudContainer>
            <ActivityLog ExpandedChanged="OnActivityLogExpandedChanged"/>
        </MudMainContent>
    </MudLayout>
</div>

