::deep .mud-drawer-content {
    width: calc(100% - var(--mud-drawer-width-left));
    overflow: hidden;
}

::deep .drawer-bottom-header {
    height: var(--drawer-height-bottom);
    min-height: var(--drawer-height-bottom);
}

::deep .drawer-bottom-content {
    height: calc(100% - var(--drawer-height-bottom));
}

::deep .pre-wrap {
    white-space: pre-wrap;
}