<div class="update-notification mud-height-full">
    <MudStack Justify="Justify.FlexEnd" Class="mud-height-full">
        <MudText Align="Align.Center" Typo="Typo.caption">
            @_state.Value.CurrentVersion
        </MudText>
    </MudStack>
</div>