@page "/explorer"
@using Messentra.Features.Explorer.Resources.Components
@using Messentra.Features.Explorer.Resources.Components.Details

<div class="mud-height-full">
    <MudSplitPanel Class="mud-width-full mud-height-full"
                   FirstPanelInitialSize="300"
                   MinPanelSize="300"
                   Elevation="1"
                   PanelGap="2"
                   ClassFirstPanel="explorer-left-panel"
                   ClassSecondPanel="explorer-right-panel">
        <FirstPanel>
            <NamespaceTree Resources="@_resourceSelector.TreeItems.Value"
                           Connections="@_connectionState.Value.Connections.ToList()"
                           SelectedResource="@_resourceSelector.SelectedResource.Value"/>
        </FirstPanel>
        <SecondPanel>
            <ResourceDetails SelectedResource="@_resourceSelector.SelectedResource.Value"/>
        </SecondPanel>
    </MudSplitPanel>
</div>
