::deep .text-truncate-container {
    overflow-y: hidden;
}

::deep .text-no-wrap {
    white-space: nowrap;
}

::deep .small-tabs {
    overflow: hidden;
    height: 100%;
    display: flex;
    flex-direction: column;
}

::deep .small-tabs .mud-tabs-panels {
    flex: 1;
    min-height: 0;
    overflow: hidden;
}

::deep .small-tabs .mud-tab-panel {
    height: 100%;
    overflow: hidden;
    font-size: 0.75rem;
    display: flex;
    flex-direction: column;
}

::deep .small-tabs .mud-tabs-tabbar-content {
    border-bottom: 1px solid var(--mud-palette-divider);
    background-color: var(--surface-alternative);
}

::deep .small-tabs .mud-tab-panel:focus {
    outline: none;
}