@using Messentra.Features.Explorer.Messages.SendMessage
<div>
    <MudDialog>
        <DialogContent>
            <MessageEditForm Model="@_model"/>
        </DialogContent>
        <DialogActions>
            <MudButton OnClick="@Cancel">Cancel</MudButton>
            <MudButton Color="Color.Primary"
                       Variant="Variant.Filled"
                       OnClick="@Submit"
                       StartIcon="@Icons.Material.Filled.Send">
                Send
            </MudButton>
        </DialogActions>
    </MudDialog>
</div>
