@page "/options"

@using Messentra.Features.Settings.Cache.Components
@using Messentra.Features.Settings.Connections.Components

<div>
    <MudStack Elevation="0" Class="pa-6">
        <ConnectionsComponent />
        <CacheComponent />
    </MudStack>
</div>
