@page "/options"

@using Messentra.Features.Settings.Cache.Components
@using Messentra.Features.Settings.Connections.Components
@using Messentra.Features.Settings.FetchOptions.Components
@using Messentra.Features.Settings.Mcp.Components

<div class="settings-page">
    <MudStack Class="pa-6">
        <ConnectionsComponent />
        <FetchOptionsComponent />
        <CacheComponent />
        <McpComponent />
    </MudStack>
</div>
